.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.star {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active {
  color: yellow;
}

.inactive {
  color: black;
}
